.author-div{
    text-align: center;
    padding: 1rem;
  background-color:rgba(255,255,255,0.5);

   
}
/* .author-div div{
    margin-bottom: 1rem;

} */

.comm-box{
    margin-left: 0;
}
.ant-anchor-wrapper{
    padding-left:0;
    border-radius: .5rem;
}
.ant-anchor-ink::before{
    width: 0;
}
.author-introduction{
    font-size:.8rem;
    font-weight: bold;
    color: #999;
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}
/* 头像下标签 */
.ant-tag{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* 头像光圈 */
.avatar-img .ant-avatar{
    animation: light 2s linear both infinite;
}
@keyframes light{
    0% {
        box-shadow: 0 0 1px white, 0 0 5px white, 0 0 10px white, 0 0 20px purple, 0 0 5px purple, 0 0 11px pink;
    } 
    100% {
        box-shadow: 0 0 5px white, 0 0 10px yellow, 0 0 15px yellow, 0 0 8px green, 0 0 10px green, 0 0 12px blue;
    }
}

